@use '../scss/globals/colors';

.hero-image{
    background-image: linear-gradient(rgba(184, 161, 133, 0.487), rgba(184, 161, 133, 0.557)),url(../images/5.jpg);
}

label{
    color:colors.$gray-letters;
}

iframe{
    width: 100%;
}

.cream-color {
    color: colors.$button-color;
    width: 24px; 
    height: 24px;
  }


 .form-icons{
    display: flex;
    justify-content: center;
    padding: 50px 0px;
    
 }

 .list-unstyled{
    display: flex;
    align-items: baseline;
 }
 

 .form-icons >ul> li> p{
    font-size: 12px;
 }


 ul{
    margin-bottom: 0;
    padding-left: 0;
 }

 .fa-2x {
    font-size: 23px;
}

@media(min-width:570px){
    .form-icons > ul{
        display: flex;
        align-items: baseline;
        width: 100%;
        justify-content: center;
    }
    .form-icons > ul >li {
        padding: 0 2%;
        width: 33%;

      }  
    }
