.hero-image{
    background-image: linear-gradient(rgba(184, 161, 133, 0.442), rgba(184, 133, 149, 0.423)),url("../images/christmas.jpg");

}


.my-message{
    padding: 80px 0px;
    text-align: center;
}

.cards-section{
    margin-bottom: 40px;
}

.image-box {
    width: 100%;
    height: 193px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 5px 5px 0 0;
}
.card{
    transition:all 0.5s;
    height: 100%;
}
.card:hover{
   transform: scale(1.1);
   

   
}



@media (min-width:768px) and (max-width: 992px){
    .image-box{
        align-items: flex-start;
    }
}
