.hero-image{
    background-image: linear-gradient(rgba(184, 161, 133, 0.541), rgba(184, 161, 133, 0.503)),url(../images/6.jpg);
}


.my-message{
    padding: 80px 45px;
    text-align: center;
}

.cards-section{
    margin-bottom: 40px;
}

.image-box {
    width: 100%;
    height: 193px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 5px 5px 0 0;
}
.card{
    transition:all 0.5s;
    height: 100%;
}
.card:hover{
   transform: scale(1.1);
   

   
}

.padding{
    padding: 20px 0;
}

.price{
    margin: 20px 0;
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    border: 2px solid gray;
    border-radius: 5px;
}

.price-container > p{
    margin-bottom: 2rem;
}


@media (min-width:768px) and (max-width: 992px){
    .image-box{
        align-items: flex-start;
    }
}
