@forward'globals';
@forward'util';
@use '../scss/globals/colors';


//Pocetna styles

//navbar

.mobile{
    display: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    position: absolute;
    width: 100%;
    z-index: 1;
    align-items: baseline;
}

.nav-logo{
    width: 60px;
}

.nav-links{
    display: flex;
    padding: 0;
}

.nav-links > li{
    padding: 0 10px;
    
}

.nav-links > li > a{
    color: white;
    font-weight: 300;
    font-size: 15px;
    padding-bottom: 5px;
    transition: border-bottom 0.3s;
}


//hero-image section

.hero-image{
  background-image: linear-gradient(rgba(184, 161, 133, 0.442), rgba(184, 133, 149, 0.423)),url("../images/olesia-buyar-Ar9xZN7yF8Q-unsplash.jpg");
  height: 70vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 100;
  }

// o-meni section

h2, p{
    color: colors.$gray-letters;
    text-align: center;
}

.button{
    border: 0.5px solid rgba(255, 255, 255, 0);
    padding: 1em 5em;
    background-color: rgba(121,65,14,.56);
    border-radius: 50px;
    color: #fff;
    font-size: 13px;
    transition: all 0.3s;
}
.button-price{
    padding: 10px 25px;
    background-color: #8b7868;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 10px 0;
}

.o-meni{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.o-meni_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    justify-content: space-evenly;
}

.o-meni_img{
    width: 100%;
    min-width: 350px;
    height: 500px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

//info setion
.info{
    background-color: colors.$gray-background;
    display: flex;
    justify-content: space-around;
    padding: 60px 0;
    
    
}

.block{
    width: 30%;
    display: flex;
    padding: 60px 30px;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s, box-shadow 0.3s; /* Tranzicija za boju pozadine */
}
hr{
    margin: 0;
    border: 0.5px solid rgba(0, 0, 0, 0.036);
}



span{
    font-size: 12px;
    font-weight: 100;
    color: colors.$gray-letters;
}

//upoznajmo se section 

.upoznajmo-se{
    display: flex;
    flex-direction: row-reverse;

    .upoznajmo-se_text,.upoznajmo-se_img{
        width: 50%;
    }

    .upoznajmo-se_img{
        min-width: 415px;
    }

}

//footer

footer{
    background-color: rgb(121 65 14 / 40%);;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links{
    justify-content: center;
}

.icons{
    display: flex;
    padding: 20px 0;
}

.icons > a> img{
    padding: 10px 20px;
}



// hover effects
.block:hover {
    background-color: colors.$gray-background; /* Boja pozadine na hover */
    color:colors.$gray-letters;
    box-shadow: 2px 2px 5px rgba(73, 73, 73, 0.5);
  }

.button:hover{
    background-color: colors.$background;
    border: 0.5px solid colors.$button-color;
    color: colors.$button-color;
} 



.nav-links>li>a:hover {
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.305);
     
    
}
    



//*******************//Media Queries//******************************
/* Stilovi za tablete */
//pocetna strana
@media (max-width: 991px) {
    

    // .navbar {
    //     flex-direction: column-reverse;
    //     align-items: center;
    // }
    .nav-links>li>a {
        font-size: 12px;
    }

    .paragraphs{
        text-align: center;
    }

    .hero-image{
        height: 40vh;
    }

    p{
        font-size: 14px;
    }

    
    .button{
        padding:10px 20px ;
        
    }
    
  }

  /* Stilovi za telefone */
//pocetna strana
@media (max-width: 680px){
    
    
    h1, h2{
        font-size: 20px;
    }
    
    p{
        font-size: 12px;
    }

    span{
        font-size: 10px;
    }
    .desktop{
        display: none;
    }

    .mobile{
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
        position: absolute;
        width: 100%;
        z-index: 1;
         align-items: center;
    }

    .nav-logo{
        width: 50px;
    }
    .mobile-nav_logo{
        width: 100%;
        display: flex;
        justify-content: center;

        
    }
    .mobile-nav_hamburger{
            position: absolute;
            right: 15px;
        }

    .hero-image{
        height: 70vh;
    }

    .o-meni{
        display: flex;
        flex-direction: column;

        .o-meni_img{
            height: 320px;
            min-width: 0px;
        }

        .o-meni_text{
            padding: 30px 45px;
        }
    }

    .info{
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    .block{
        padding: 60px 0px;
    }

    hr{
        width: 70%;
    }

    .upoznajmo-se{
        flex-direction: column-reverse;
        position: relative;

        .upoznajmo-se_text{
            position: absolute;
            width: 100%;
            background: #8b45136b;
        }

        .upoznajmo-se_img{
            min-width: 0px;
            height: auto;
            width: 100%;

        }

        .upoznajmo-se_text >h2, .paragraphs>p{
            color: white;
        }

        .peachy{
            background-color: #fccea5e9;

        }
        .button.peachy:hover{
            background-color: rgba(255, 255, 255, 0.887);
            border: 1px solid transparent;
            color: colors.$peachy-color;
        }



    }

    footer{
        .footer-links{
            flex-direction: column;
            align-items: center;
        }

        .footer-links>li{
            padding: 10px 0;
        }
    }



    // side menu

    
    .side-menu{
    position: fixed;
    z-index: 2;
    background-color: white;
    right: 0px;
    height: 100vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
    padding-bottom: 200px;
    
    }
    

        .side-menu_links{
            display: flex;
            flex-direction: column;
            align-items: center;   
        }

        .side-menu_links > a{
            padding: 15px 0;
            color: #8b45136b;
        }

        .side-menu_logo{
        width:110px ;
        }

        .side-menu_icons{
        display: flex;
        }

        .side-menu_background{
            position: fixed;
            width: 100%;
            height: 100vh;
            z-index: 1;
            background-color: rgb(180 148 120 / 56%);
        }

    
        .side-menu_cross {
            position: absolute;
            top: 16px;
            right: 19px;
        }
        

        // ***********snowlakes********

        .snowflake {
            color:  rgb(180 148 120 / 56%);
            font-size: 1em;
            font-family: Arial;
            // text-shadow: 0 0 1px  rgb(180 148 120 / 56%);
          }
          
          @-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
          /* Demo Purpose Only*/
          .demo {
            font-family: 'Raleway', sans-serif;
              color:rgb(180 148 120 / 56%);
              display: block;
              margin: 0 auto;
              padding: 15px 0;
              text-align: center;
          }
          .demo a{
            font-family: 'Raleway', sans-serif;
            color: rgb(180 148 120 / 56%);		
          }
.none{
        display: none;
    }
        
          
}




