h1, h2, h3{
    line-height: 1.1;
    margin-top: 0;
    font-weight: 200;
    
}

p{
    margin-top: 0;
    font-weight: 100;
}

ul{
    list-style: none;
}


a, a:visited, a:active {
    text-decoration: none;
    cursor: pointer;
    border-bottom: 0.5px solid transparent;
    transition: border-bottom 0.5s;
}